/* Heading banner style START */
.heading-banner {
  background-image: linear-gradient(180deg, rgb(0, 0, 0), #1a19195e),
    url("../resources/banner.png");
  background-repeat: no-repeat;
  max-width: 1320px;
  max-height: 600px;
  border-radius: 16px;
  margin: 50px 15px;
}

.heading-banner .heading-banner-h5 {
  color: #fff;
  text-align: center;
  font-family: Merriweather;
  font-size: 32px;
  padding-top: 40px;
}

.heading-banner .heading-banner-h1 {
  color: #ece6e6;
  text-align: center;
  font-family: Merriweather;
  font-size: 50px;
  height: 600px;
}
/* heading banner style END */

/* Section - 1 style START */
.section-1 h1 {
  color: #f00;
  text-align: center;
  font-family: Inter;
  margin-top: 120px;
  font-size: 88px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.section-1 h5 {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.section-1 h3 {
  color: #070211;
  text-align: center;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.section-1-img {
  width: 802.9px;
  height: 500px;
  padding-left: 425px;
}
/* Section - 1 style END */

/* Section - 2 Start */
.section-2 {
  background-image: linear-gradient(
      270deg,
      rgba(255, 255, 255, 0),
      rgb(1, 0, 20)
    ),
    url("../resources/vector.png");
  background-repeat: no-repeat;
  background-position: center;
  margin: 15px;
  width: 1320px;
  height: 600px;
  align-items: center;
}

.section-2-content {
  display: flex;
  margin-top: 100px;
}

.section-2-text h1 {
  color: #fff;
  text-align: left;
  font-family: Merriweather;
  font-size: 64px;
  margin-left: 75px;
  width: 642px;
  padding: 80px 0px 0px 0px;
  line-height: 70px;
  text-wrap: wrap;
}

.section-2-text p {
  color: rgba(255, 255, 255, 0.884);
  font-family: Inter;
  font-size: 18px;
  margin-left: 75px;
  width: 697px;
}
.section-2-button {
  color: #ffffff;
  text-align: center;
  font-family: Inter;
  font-size: 30px;
  background-color: transparent;
  margin-top: 20px;
  margin-left: 120px;
  text-transform: uppercase;
}

.section-2-img {
  padding: 50px;
}
/* Section - 2 END */
/* Section - 3 Start */
.section-3 {
  background: linear-gradient(#ff000041, #ffffff1c);
  width: 1320px;
  height: 482px;
  margin: 100px 15px 0 15px;
  align-items: center;
  text-align: center;
  padding-top: 60px;
}

.section-3-design {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px;
  text-transform: capitalize;
}

.section-3-content {
  color: #070211;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  text-transform: capitalize;
}

.section-3-button button {
  display: inline-flex;
  padding: 16px 32px;
  color: white;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: #f00;
}
/* Section - 3 END */



/* SECTION - 6 START */
.section-6 {

}

.section-6-heading {

}

.section-6-image {
display: flex;
flex-direction: column;
gap: 24px;
}

.section-6-image-row-1 {
  display: flex;
  gap: 24px;
}

.section-6-image-row-2 {
display: flex;
gap: 24px;
}
/* SECTION - 6 END */
/* Footer style START */
.footer {
  background: #070211;
  width: 1320px;
  height: 609px;
  margin: 100px 15px 0 15px;
  align-items: center;
}

.footer-1 {
  display: flex;
  justify-content: space-between;
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
}

.footer-1-left {
  width: 350px;
  margin-top: 100px;
  margin-left: 120px;
}

.footer-1-right {
  margin-top: 100px;
  margin-right: 140px;
}

#horizontal-line-1 {
  margin-top: 50px;
  color: rgba(255, 255, 255, 0.15);
  width: 1320px;
  height: 1px;
}

.footer-icon {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
}

#horizontal-line-2 {
  margin-top: 50px;
  color: rgba(255, 255, 255, 0.15);
  width: 1320px;
  height: 1px;
}

.footer-3 {
  display: flex;
  justify-content: space-between;
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.footer-3-right {
  margin-top: 40px;
  margin-left: 120px;
}

.footer-3-left {
  margin-top: 40px;
  margin-right: 90px;
}
/* Footer style END */
